body{
    background-color: lightgoldenrodyellow;
}

h1 {
    font-size: 30px;
    color: salmon;
}
h2 {

font-size: 5px

}

.big{
    font-size: 30px;
}

.raring{
    text-transform: uppercase;
    color: black;
    font-size: 100px;
}

.big.raring{
    color: navy;
}

h1 span {
    
}